* {   
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  box-sizing: border-box;
} 
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} 
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 40px;
  margin: 0px;
  width: 99vw;
  align-items: center;
  background-color: white;
  margin-top: 0px;
} 
.start-nav{
  display: flex;
  align-items: center;
} 
.fa-bars {
    padding-left: 25px;
  margin-right: 0px;
  color: #606060;
} 
.fa-search {
  margin-left: 20px;
} 
.space {
  margin-left: 30px;
  height: 10px;
  text-align: center;
  color: black;
}
.middle-nav {
  display: flex;
  text-align: center;
} 
.end-nav {
  display: flex;
  margin-top: 10px;
} 
.subscribe {
  height: 35px;
  width: 130px;
  padding: 5px;
  background-color: #567B95;
  margin-right: 10px;
  border-radius: 5px;
} 
.login {
  height: 35px;
  width: 50px;
  padding: 5px;
  background-color: #567B95;
  margin-right: 20px;
  border-radius: 5px;
} 
.subs,.log{
  color: white;
  text-align: center;
  padding-top: 5px;
}
.topic {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;  
} 
.fonts {
  border-top-style: solid;
  border-color: grey;
  border-width: 1px;
  text-align: left;
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 10px;
} 
.da {
  margin-right: 10px;
}
.cosmos_img {
  text-align: center;
  margin-top: 10px;
}
.image_dis {
  width: 900px;
  text-align: left;
  margin-right: 100px;
  margin: 0 auto;
  color: grey;
} 
.imagecosmos {
  height: 531.55px;
  width: 945px;
  text-align: center;
} 
.description1 {
  width: 531.55px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: Georgia, Times, serif;
} 
.des1_a {
  font-weight: bold;
} 
.desa_date {
  font-weight: lighter;
  color: rgb(53, 47, 47);
  margin-top: 15px;
} 
.full {
  margin-top: 5px;
} 
.full_des1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.875rem;
  width: 600px;
  margin-top: 8px;
}

